body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
  color: #333333;
}

body.dark-mode {
  background-color: #333333;
  color: #f1f1f1;
}

body.yellow-mode {
  background-color: yellow;
  color: #f1f1f1;
}

body.pink-mode {
  background-color: pink;
  color: #f1f1f1;
}
